.main {
    background-image: url('images/background.png'); /** For testing only **/
    background-position-y: center;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 2%;
}

section, aside {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: white;
}

input {
    border-radius: 15px;
}

label {
    font-family: Arial, sans-serif;
    display: block;
    padding: 5px;
    font-weight: bold;
}

div {
    text-align: center;
}

button {
    background-color: darkgreen;
    height: 30px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

#calculate {
    display: block;
    width: 100%;
}


#results > section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: .1fr .1fr;
    grid-template-areas: "1 2 3"
                         "4 5 6";
    font-family: 'Helvetica', 'Arial', sans-serif;
    justify-items: center;
}

/** Put numbers in first **/
#results section p:first-child {
    order: 1;
}

#results section p:nth-child(3) {
    order: 2;
}

#results section p:nth-child(5) {
    order: 3;
}

/** Put descriptions underneath **/
#results section p:nth-child(2) {
    order: 4;
}

#results section p:nth-child(4) {
    order: 5;
}

#results section p:nth-child(6) {
    order: 6;
}

/*#results > span {*/
/*    display: none;*/
/*}*/

.number {
    font-size: xx-large;
}