/* Customise values below this line */
:root {
    --background-image-colour: #333333; /* Comment the line below out to use a solid background colour */
    --background-image: url('images/background-min.png'); /* Comment this line out to use the solid background colour above. Default value: images/background-min.png */
    --display-results-on-launch: none; /* Use 'none' to hide the results panel (Recommended), or 'initial' to show £0 in the results section before calculator use */
    --label-font-name: Arial; /* Default value: 5px */
    --label-padding: 5px; /* Default/Recommended value: 5px */
    --label-colour: white; /* Default value: white */
    --section-background-colour: rgba(0, 0, 0, 0.7); /* Default value: rgba(0, 0, 0, 0.7) - Note the rgba opacity of 0.7 to combine with the background image */
    --section-font-colour: white; /* Default value: white */
    --button-background-colour: darkgreen; /* Default value: darkgreen */
    --button-text-colour: white; /* Default value: white */
    --currency-display-font: 'Helvetica'; /* Default value: 'Helvetica' - This specifies the font displaying the breakdown of payments. A backup font of Arial should an invalid property be used. **/
}

   /** Do not touch values below this line **/

.main {
    background-color: var(--background-image-colour);
    background-image: var(--background-image);
    background-position-y: center;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30em), 1fr));
    grid-gap: 20px;
    padding: 2%;
}

section, aside {
    border-radius: 25px;
    background-color: var(--section-background-colour);
    padding: 5px;
    color: var(--section-font-colour);
}

aside {
    /* Hide the results panel by default */
    display: var(--display-results-on-launch);
}

input {
    border-radius: 15px;
}

label {
    font-family: var(--label-font-name), sans-serif;
    display: block;
    padding: var(--label-padding);
    font-weight: bold;
}

div {
    text-align: center;
}

button {
    background-color: var(--button-background-colour);
    height: 30px;
    color: var(--button-text-colour);
    border-radius: 15px;
    font-size: 15px;
}

#calculate {
    display: block;
    width: 100%;
}

#results > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "1 2 3"
                     "4 5 6";
    font-family: var(--currency-display-font), 'Arial', sans-serif;
    justify-items: center;
}

@media only screen and (max-width: 600px) {
    #results > section {
        display: contents;
        margin: auto;
        width: 50%;
    }
}

/** Put numbers in first **/

#results section p:first-child {
    order: 1;
}

#results section p:nth-child(3) {
    order: 2;
}

#results section p:nth-child(5) {
    order: 3;
}

/** Put descriptions underneath **/

#results section p:nth-child(2) {
    order: 4;
}

#results section p:nth-child(4) {
    order: 5;
}

#results section p:nth-child(6) {
    order: 6;
}

.number {
    font-size: xx-large;
}